* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden;
}

.buttons {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100vw;
    text-align: center;
}

#canvas1 {
    background: black;
    /* filter: blur(10px) contrast(5); */
}

.button {
    position: relative;
    width: 25%;
    height: 120px;
    margin: 10px;
    display: inline-block;
    border-radius: 50px;
    border: 5px solid white;
    background: transparent;
    transition: 0.2s;
    font-size: 50px;
    font-weight: 900;
    color: white;
    line-height: 110px;
    min-width: 300px;
    background: black;
}

.button::before {
    content: "";
    position: absolute;
    /* background: red; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    transition: 0.2s;
    background: black;
    -webkit-text-stroke: 2px white;
}

button:nth-child(1)::before {
    content: "Home";
}
button:nth-child(2)::before {
    content: "About";
}
button:nth-child(3)::before {
    content: "Shop";
}

.button:hover::before {
    /* color: yellow; */
    color: black;
    /* box-shadow: inset 10px 10px 15px orange, inset -10px -10px 15px orange, inset -10px 10px 15px orange, inset 10px -10px 15px orange; */
    /* background: yellow; */
    /* background: black; */
    /* text-shadow: 5px 5px 5px orange, -5px -5px 5px orange, -5px 5px 5px orange, 5px -5px 5px orange; */
}

/*.button:hover {
    box-shadow: 10px 10px 15px orange, -10px -orange15px orange, -10px 10px 15px orange, 10px -10px 15px orange; */
    /* border: 5px solid orange;
    background: orange;
    -webkit-text-stroke: 2px white;
}*/